@model Farma.Models.Stroj
@{
    ViewBag.Title = "Obrisi stroj";
}

<h2>@ViewBag.Title</h2>

<h3>Da li ste sigurni da želite obrisati ovaj stroj?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Svrha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Svrha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodisnjeDoba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodisnjeDoba)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potvrdi brisanje" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>

