@model Farma.Models.Stoka
@{
    ViewBag.Title = "Obrisi zivotinju";
}

<h2>@ViewBag.Title</h2>

<h3>Da li ste sigurni da želite obrisati ovu zivotinju?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vrsta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vrsta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tezina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nadimak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nadimak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potvrdi brisanje" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>